/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import"../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";  

.hide {
    display: none !important;
}
.toolbar .tollbar-filter{
    width: 33.33%;
    
}

.toolbar .tollbar-filter span.top-menu-filter{
    margin: 10px 20px;
    display: block;
    float: left;
}
.ag-cell span {
    width: 100%;
    display: block;
    line-height: 25px;
}

.ag-cell img, .export-icon {
    height: 30px;
    float: left;
}
.export-icon {
  margin-left: 10px;
  cursor: pointer;
}

.share-icon {
  padding: 35px 14px;
  height: 178px;
  cursor: pointer;
}

.ag-cell img:first-child, .flt-non  {
    float: none;
}

.bshadow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 350px;
  margin: 20px;
}

.bshadow img {
  height: 100%;
  width: 100%;
}

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    float: left;
    margin-top: 17px;
    margin-left: 14px;
    display: block;
  }


  ul.filter-menu {
    display: block;
    list-style: none;
    float: left;
    position: absolute;
    top: 40px;
    z-index: 1000;
    background: white;
    color: black;
    border: 1px solid black;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  ul.filter-menu li {
    line-height: 30px;
    padding: 5px 10px;
    text-align: center;
  }

  .filter-bar, .tollbar-filter ul li {
    cursor: pointer;
  }

  .qr-code-dialog, .share-dialog, .datepicker-dialog {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50px;
    left: 35%;
    background-color: #fff;
    z-index: 5;
    border: 1px solid black;
  }

  .share-dialog {
    height: 180px;
    width: 350px;
  }
  .datepicker-dialog {
    height: 384px;
    width: 500px;
  }
  .dialog-button {
    float: right;
    height: 30px;
    width: 50px;
    background-color: #1976d2;
    margin-right: 10px;
  }

  .ok-dollar-logo {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 44%;
    left: 44%;
  }

  .close {
    
    float: right;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;

  }

  .table-bordered tr td, .table-bordered tr th {
    border: 2px solid;
  }

  .loader-gif {
    height: 1024px;
    width: 100%;
    display: block;
    z-index: 1000;
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
}
@media (max-width:480px)  { 
  .loader-gif {
  height: 400px;
  }
}
@media (max-width:600px)  {
  .loader-gif { 
   height: 650px;
  }
}
  .loader-gif img {
    vertical-align: middle;
    position: relative;
    top: 20%;
    left: 40%;
  }

  @media (max-width:480px)  {
    .loader-gif img { 
    top: 12%;
    left: 34%;
    }
  }
  @media (max-width:600px)  {
    .loader-gif img {
    top: 20%;
    left: 36%;
    }
  }

  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }